.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.text-danger {
    font-size: 17px;
    line-height: 19px;
    margin: 7px 0 20px 7px;
    color: #ff0000;
}

/* orientation warning */
.orientation-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.orientation-warning p {
    font-size: 18px;
}

/* button active state  */
button.active {
    background-color: #F9B400;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}